@model List<OrderManagemenet.Models.Request>

@{
    ViewBag.Title = "Home Page";
}


<h1>Request List</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div id="requestShow">
                <div class="row titles">
                    <div class="col-xs-2">@Html.ActionLink("RequestId", "Sort", "Home", new { order_by = "requestId" }, null)</div>
                    <div class="col-xs-2">@Html.ActionLink("ClientId", "Sort", "Home", new { order_by = "clientId" }, null)</div>
                    <div class="col-xs-2">@Html.ActionLink("Name", "Sort", "Home", new { order_by = "name" }, null)</div>
                    <div class="col-xs-2">@Html.ActionLink("Quantity", "Sort", "Home", new { order_by = "quantity" }, null)</div>
                    <div class="col-xs-2">@Html.ActionLink("Price", "Sort", "Home", new { order_by = "price" }, null)</div>
                </div>

                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                <div class="row">
                    <div class="col-xs-2">@item.requestId</div>
                    <div class="col-xs-2">@item.clientId</div>
                    <div class="col-xs-2">@item.name</div>
                    <div class="col-xs-2">@item.quantity</div>
                    <div class="col-xs-2">@item.price</div>
                </div>
                    }
                }
            </div>
        </div>
        
        <div class="col-lg-3">
            @using (Html.BeginForm("AddFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label for="upload">Input list of orders</label>
                    <input type="file" name="upload" class="form-control-file" id="upload"><br />
                    <button type="submit" class="btn btn-primary">Add Data</button>
                    @ViewBag.File
                </div>
            }

            @using (Html.BeginForm("Download", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="upload">Download JSON Report</label><br />
                    <button type="submit" class="btn btn-primary">Create Report</button>
                    @if(ViewBag.Download!=null)
                    {
                    <a href="~/Download/data.json" download style="color:red"><b>Download Report</b></a>
                    }
                </div>
            }

        </div>
    </div>
</div>

